{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime",
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
